<%= form_with( model: [@leadership_role], html: { class: "admin-form" }) do |form| %>
  <% if leadership_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leadership_role.errors.count, "error") %> prohibited this leadership_role from being saved:</h2>

      <ul>
        <% leadership_role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :title, "Title" %>
      <%= form.text_field :title, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :section, "Section" %>
      <div class="form-select-wrapper" >
        <%= form.select :section, [["Our board", "board"], ["Our staff", "staff"]] %>
      </div>
    </div>
    <div class="form-set"></div>
  </div>

  <% if @position_options %>
    <div class="form-row">
      <div class="form-set">
        <%= form.label :position, "Position" %>
        <div class="form-select-wrapper" >
          <%= form.select :position, @position_options %>
        </div>
      </div>
      <div class="form-set"></div>
    </div>
  <% end %>

  <div class="form-row">
    <% if @leadership_role.headshot.attached? %>
      <div class="form-set">
        <label>Headshot Photo Preview</label>
        <% if @leadership_role.headshot.content_type == "image/jpeg" || @leadership_role.headshot.content_type == "image/png" %>
          <%= image_tag @leadership_role.headshot.variant(resize_to_limit: [600, nil]), class: "admin-form-image" %>
        <% else %>
          <%= link_to 'View file', @leadership_role.headshot, target: "_blank", class: "download-link" %>
        <% end %>
      </div>
    <% end %>
    <div class="form-set">
      <%= form.label :headshot, "Headshot" %>
      <%= form.file_field :headshot, direct_upload: true %>
    </div>
  </div>

  <% if notice || alert %>
    <div class="err-messages">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>
  <% end %>

  <div class="form-set form-controls">
    <%= form.submit "Save", class: "button-round" %>
  </div>
<% end %>
