<% if notice || alert %>
  <div class="err-messages">
    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% elsif alert %>
      <div class="alert"><%= alert %></div>
    <% end %>
  </div>
<% end %>

<div class="admin-heading-wrapper --has-search">
  <h1 class="admin-heading">Community Groups</h1>
  <%= link_to "Add a community group", new_comm_group_path, class: "button-round  --secondary" %>

  <%= form_with url: url_for(action: 'index', controller: 'comm_groups'), html: {class: "search__form"}, method: :get do |form| %>
    <div class="search__input-wrapper">
      <%= form.text_field :archive_q, class: "search__field--round", value: params[:archive_q] %>
      <% if params[:archive_q] %>
        <button type="button" class="search__clear js-search-clear" data-clear-path="/comm_groups"></button>
      <% end %>
    </div>
    <%= form.submit "Search", class: "search__button--round" %>
  <% end %>
</div>

<table class="admin-table">
  <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  <% @comm_groups.each do |comm_group| %>
    <tr>
      <td><%= comm_group.name %></td>
      <td class="admin-table-actions">
        <%= button_to 'Edit', edit_comm_group_path(comm_group), method: 'get', class: "admin-table-button"%>
        <%= button_to 'Remove', comm_group_path(comm_group), method: 'delete', data: { confirm: 'Are you sure?' }, class: "admin-table-button" %>
      </td>
  <% end %>
  </tbody>
</table>

<div class="pagination-container">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

  <%= form_with url: url_for(action: 'index', controller: 'comm_groups'), method: :get, html: {id: 'page-items-form', class: 'pagy-nav'} do |form| %>
    <%= form.label :page_items, "Items per page:" %>
    <%= form.select :page_items, options_for_select([25, 50, 100], params[:page_items].to_i), {}, { class: 'items-select',onchange: 'this.form.submit()'} %>
  <% end %>
</div>