<div class="link-row" data-id="<%= f.object.id || 'new' %>">
  <div class="form-row">
    <div class="form-set">
      <%= f.label :url_label, "Link text" %>
      <%= f.text_field :url_label, placeholder: "e.g. Project homepage" %>
    </div>
    <div class="form-set">
      <%= f.label :url, "URL" %>
      <%= f.url_field :url, placeholder: "https://example.com" %>
    </div>
    <%= f.hidden_field :position, value: f.object.position || 9999 %>
    <div class="form-set remove_redirect-set">
      <button type="button" class="button-round redirect_x-button" data-action="redirect-links#remove">X</button>
      <%= f.check_box :_destroy, style: "display:none" %>
    </div>
  </div>
</div>
