<%= form_with( model: [@page], html: { class: ["admin-form", "page-form"] }, data: { controller: 'draft-select'}) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :title, "Title" %>
      <%= form.text_field :title, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :subtitle, "Subtitle" %>
      <%= form.text_field :subtitle, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <% if @page.header_file.attached? %>
      <div class="form-set">
        <label>Header Photo Preview</label>
        <% if @page.header_file.content_type == "image/jpeg" || @page.header_file.content_type == "image/png" %>
          <%= image_tag @page.header_file.variant(resize_to_limit: [600, nil]), class: "admin-form-image" %>
        <% else %>
            <%= link_to 'View file', @page.header_file, target: "_blank", class: "download-link" %>
        <% end %>
      </div>
    <% end %>
    <div class="form-set">
      <%= form.label :header_file, "Header Photo" %>
      <%= form.file_field :header_file, direct_upload: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :tag, "Tags" %>
      <%= form.hidden_field :tag, :value => @page.tag, class: "js-tag-input tag-input", "data-tag-options": @tag_options.join(', ') %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :collection, "Collections" %>
      <%= form.hidden_field :collection, :value => @page.collection, class: "js-tag-input tag-input", "data-tag-options": @collection_options.join(', ') %>
    </div>
  </div>

  <%# below is commented out with 'if false' bc comm_groups is not being used in filtering archive_items to pages %>
  <% if false %>
  <div class="form-row">
    <div class="form-set">
      <%= form.label :comm_groups, "Community groups" %>
      <%= form.hidden_field :comm_groups, :value => @page.comm_groups, class: "js-tag-input tag-input", "data-tag-options": @comm_group_options.join(', ') %>
    </div>
  </div>
  <% end %>
  
  <div class="form-row">
    <div class="form-set">
      <%= form.label :donate_url, "Donate link" %>
      <%= form.text_field :donate_url, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :mail_list_url, "Mailing list url" %>
      <%= form.text_field :mail_list_url, autocomplete: "off", "data-lpignore": true %>
    </div>
    <div class="form-set"></div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :draft, "Published or Saved as Draft" %>
      <div class="form-select-wrapper">
        <% default_selection = form.object.new_record? ? true : form.object.draft %>
        <%= form.select :draft, [["Saved as draft", true], ["Published to live site", false]], {selected: default_selection}, {class: "draft-select"} %>
      </div>
    </div>
  </div>
  
  <%# below is commented out with 'if false' bc survey form has been moved to footer %>
  <% if false %>
  <div class="form-row">
    <div class="form-set">
      <%= form.label :ctatext, "Call to action text" %>
      <%= form.text_field :ctatext %>
    </div>
    <div class="form-set">
      <%= form.label :ctalink, "Call to action url" %>
      <%= form.text_field :ctalink %>
    </div>
  </div>
  <% end %>

  <% if notice || alert %>
    <div class="err-messages">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>
  <% end %>

  <div class="form-set form-controls">
    <%= form.submit "Save", class: "button-round" %>
  </div>
<% end %>
