<% if notice || alert %>
  <div class="err-messages">
    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% elsif alert %>
      <div class="alert"><%= alert %></div>
    <% end %>
  </div>
<% end %>

<div class="admin-heading-wrapper">
  <h1 class="admin-heading">Carousel Slides</h1>
  <%= link_to "Add a slide", new_carousel_slide_path, class: "button-round  --secondary" %>
</div>

<table class="admin-table">
  <thead>
    <tr>
        <th>Title</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  <% @carousel_slides.each do |slide| %>
    <tr>
      <td><%= slide.title %></td>
      <td class="admin-table-actions">
        <%= button_to 'Edit', edit_carousel_slide_path(slide), method: 'get', class: "admin-table-button"%>
        <%= button_to 'Remove', carousel_slide_path(slide), method: 'delete', data: { confirm: 'Are you sure?' }, class: "admin-table-button" %>
      </td>
  <% end %>
  </tbody>
</table>
