<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @location.lng %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<%= link_to 'Edit', edit_admin_location_path(@location) %> |
<%= link_to 'Back', admin_locations_path %>
