<!DOCTYPE html>
<html>
  <head>
    <title>Albina Community Archive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- This forces js to run on all page loads -->
    <meta name="turbolinks-visit-control" content="reload">
    

    
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  </head>

  <body class="--is-admin">
    <%= render "shared/nav" %>
    <%= yield %>
  </body>
</html>
